<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% for(var i=0;i<newItem.length;i++){ %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%=newItem[i]._id%>">
                    <p>
                        <%= newItem[i].name %>
                    </p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle%>"></input>
            </form>

            <% } %>
                <form class="item" action="/" method="post">
                    <input type="text" name="todoitem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list"  value="<%=listTitle%>">+</button>
                </form>
    </div>

<%- include("footer") -%>